<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Mirasvit_Blog::blog" title="Blog MX by Mirasvit">
                        <resource id="Mirasvit_Blog::blog_post" title="All Posts" sortOrder="10"/>
                        <resource id="Mirasvit_Blog::blog_category" title="Categories" sortOrder="11"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mirasvit_Blog::blog_settings" title="Mirasvit Blog MX Section" sortOrder="1000"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
