<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_Blog::blog" title="Blog MX by Mirasvit" module="Mirasvit_Blog" sortOrder="700"
             resource="Mirasvit_Blog::blog" parent="Magento_Backend::content"/>

        <add id="Mirasvit_Blog::blog_post" title="All Posts" module="Mirasvit_Blog" sortOrder="10"
             resource="Mirasvit_Blog::blog_post" parent="Mirasvit_Blog::blog" action="blog/post"/>

        <add id="Mirasvit_Blog::blog_category" title="Categories" module="Mirasvit_Blog" sortOrder="20"
             resource="Mirasvit_Blog::blog_category" parent="Mirasvit_Blog::blog" action="blog/category"/>

        <!--<add id="Mirasvit_Blog::blog_author" title="Authors" module="Mirasvit_Blog" sortOrder="25"-->
        <!--resource="Mirasvit_Blog::blog_author" parent="Mirasvit_Blog::blog" action="blog/author" />-->

        <add id="Mirasvit_Blog::blog_settings" title="Settings" module="Mirasvit_Blog" sortOrder="30"
             resource="Mirasvit_Blog::blog_settings" parent="Mirasvit_Blog::blog" action="adminhtml/system_config/edit/section/blog"/>
    </menu>
</config>