body.blog-post-view {
    .page-title {
        margin-bottom: 2rem;
    }
}

.blog__post-view {
    .lib-clearfix();

    .blog__post-featured-image {
        float: left;
        padding: 0 2rem 2rem 0;
    }
}